@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --background:#000000;
    --red: #C20000;
    --blue: #001F70;
    --gradient: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);

    --font: 'Titillium Web', sans-serif;
}

.body {
    font-family: var(--font);
    background-color: var(--background);
}

* {
    margin: 0%;
    padding: 0%;
    border: 0%;
    box-sizing: border-box;
}

body {
    font-family: var( --font );
    font-size: 16px;
    background-color: var( --background );
}

img {
    width: 100%;
}

.TOPO {
    width: 100%;
    height: 5em;
}

.CONTENT {
    width: 80%;
    height: 100%;
    max-width: 75em;
    margin: auto;
    padding-right: 0.5em;

}

.FLEX_CENTER_BT {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.TOPO img {
    max-width: 12.32em;
}

.MENU {
    width: 100%;
    max-width: 50em;
}

.MENU ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.MENU a {
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    font-size: 1.10em;
    padding: 1.4em 1em;
    text-transform: uppercase;
    font-weight: 550;
}

.MENU a:hover {
    background-color: var(--blue);
}

.CONTENT2 {
    width: 10%;
    height: 50%;
    background-color: var(--blue);
    margin: 0.5em;
}

.MENU2 {
    width: 100%;
    max-width: 50%;
}

.MENU2 ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.MENU2 ul .LOGIN {
    color: white;
    font-size: 1.10em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    padding: 0.5em 2.0em;
}

.MENU2 .LOGIN:hover {
    background-color: var(--blue);
}

#MENU-BARS {
    display: none;
}

@media screen and (max-width: 74.93em){
    
}

@media screen and (max-width: 47.93em){

}

@media screen and (max-width: 35.93em){
    
}